CMakeLists.txt.user.user
build-Life-Desktop-Debug/
build-Life-Desktop-Release/
Microorganisms_autogen/
*.ninja
*.build.ninja
CMakeCache.txt
cmake_install.cmake
Microorganisms
*.cbp
.ninja_deps
.ninja_log
CMakeFiles/
Debug/
